{% extends "base_copy.html" %}

{% load static %}
{% block title %}Index{% endblock %}
{% block head %}
<link rel="stylesheet" href='/static/style.css' />
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap" rel="stylesheet">
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}






<center>





<style>
	.big {
	  background-color: #E0E0E0;
	  color: black;
	  font-family: 'Zilla Slab', serif !important;
	  font-size:18px;
	  margin:12em;
	  margin-top: 300px;
	  margin-bottom:10px;
	  padding: 30px;
	  height: 550px;
	 
	  opacity: 1;
	}
</style>


<style>
	.ScrollStyle
	{
		max-height: 420px;
		overflow-y: scroll;
	}
</style>




<div class='homepage_big'>


	<h1> Anti-Epileptic Drugs </h1>
	
	<div  style="background-color:white; padding:20px;">
				
		<table class="table table-bordered table-striped" id="aed_table">
			<thead>	
				<tr>
					<th>Drug Bank ID</th>
					<th>AED Name</th>
					<th>Target Gene</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{% for key,value in aed_df.iterrows %}
				<tr>
					<td><a target="_blank" href='https://www.drugbank.ca/drugs/{{value.drugbankid}}'><b> {{ value.drugbankid }} </b></a></td>
					<td>{{ value.aedname }}</td>
					<td>{{ value.genename }}</td>
					<td>{{ value.status }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	
	
	
</div>

</center>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/r-2.2.5/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/r-2.2.5/datatables.min.js"></script>


<script>

$( document ).ready(function() {
    console.log( "ready!" );
	$('#aed_table').DataTable( {
	    dom: 'Bfrtipl',
    buttons: [
    	{
            extend: 'copy',
            text: 'Copy',
            title: 'Anti-epileptic Drugs'
        },
        {
            extend: 'csv',
            text: 'CSV',
            extension: '.csv',
            title: 'Anti-epileptic Drugs'
        }, 
        {
            extend: 'pdf',
            text: 'PDF',
            extension: '.pdf',
            title: 'Anti-epileptic Drugs'
        }, 
        {
            extend: 'print',
            text: 'Print',
            title: 'Anti-epileptic Drugs'
        },
        {
            extend: 'excel',
            text: 'Excel',
            extension: '.xlsx',
            title: 'Anti-epileptic Drugs'
        }
    ]
} );
});




</script>


{% endblock %}
