{% load static %}
<!doctype html>
<html>

  <head>
		
		<link rel="stylesheet" href='static/style.css' type="text/css"/>
		<!-- DO NOT change the order of links present below since the layout would change -->
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1" /> -->
		<meta charset="utf-8">
		
		
		
		<link href="https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap" rel="stylesheet">
		
		<div class="container-fluid">
        <header>
			<center>
				
			
			<div class="mydiv" style="padding:5px;">
				<div>
					<img src='/static/cdac_logo.png' style='padding-top:5px; margin-left:20px; max-width:100%; height:auto;'>
				</div>
				
				<div class="website_name">
					<v>T</v>arget <v>RE</v>search for <v>A</v>nti-epileptic drugs using <v>D</v>ata <v>S</v>cience
				</div>
				
				<div >
					<img src='/static/Logo_Treads_head.jpg' height=80px style='margin-top:20px; margin-left:20px; max-width:100%; height:auto;'>
				</div>
				
			</div>
			</center>
			
				<div class='lower_header  default_font'>
					
					<ul class="top-level-menu">
						<li><a href="/"><div id="pp">| </div>Home</a></li>
						<li><a href="#"><div id="pp">| </div>Search</a>
							<ul class="second-level-menu">
								<li><a href="/search/UniprotID">UniProt ID</a></li>
								<li><a href="/search/GeneName">Gene Name</a></li>
								<li><a href="/search/EnsemblID">Ensembl ID</a></li>
							</ul>
						</li>
						
						<li>
							<a href="#"><div id="pp">| </div>Browse</a>
							<ul class="second-level-menu">
								<li><a href="/aedpage">AED</a></li>
								<li><a href="/aedtarget">AED Targets</a></li>
								<li><a href="/protein_families">Protein Families</a></li>
								<li><a href="/epilepsy_associated_miRNAs">miRNAs</a></li>
								<li>
									<a href="#">Disorders &#9656;</a>
									<ul class="third-level-menu">
										<li><a href="/mtle">MTLE</a></li>
										<li><a href="/fcd">FCD</a></a></li>
										<li><a href="/hippocampal_sclerosis">HS</a></a></li>
										<li><a href="/mtle_hs">MTLE-HS</a></li>
										<li><a href="/dravet_syndrome">DS</a></li>
										<li>
											<a href="#">GGE 	&#9656;</a>
											<ul class="fourth-level-menu">
												<li><a href="/cae">CAE</a></li>
												<li><a href="/jae">JAE</a></li>
												<li><a href="/jme">JME</a></li>
												<li><a href="/egtcs">EGTCS</a></li>
											</ul>
										</li>
										<li><a href="/common_genes">Common Genes</a></li>
									</ul>
								</li>
								
							</ul>
						</li>
						<li><a href= "/ml_predictions"><div id="pp">| </div>ML Predictions</a></li>
					</ul>
					<ul class="top-level-menu">
						<li><a href= "/epilepsy_associated_genes"><div id="pp">| </div>Epilepsy Associated Genes</a></li>
						<li><a href= "/epilepsy_associated_pathways"><div id="pp">| </div>Epilepsy Associated Pathways</a></li>
					</ul>
				
				</div>
			  
		
			
        </header>
		</div>
    {% block head %}
    <link rel="stylesheet" href='/static/style.css' />
    {% block title %}{% endblock %}
    {% endblock %}
  </head>
  <body>
 

  
  
  
  
    <div id="content">{% block content %}{% endblock %}</div>
   
	
	

	
	
  </body>
 
	<div class="footer">

		<div id='parent'>
			<div id='first' style='padding-left:5%;'>
				Project  <special_font>"Advanced Epilepsy Research (AER)"</special_font>  funded by:<br>
				Office of the Principal Scientific Adviser to the Government of India<br>
				Our Collaborators:
				<div style="display:flex; justify-content:center;">
					<div class="img__wrap" style=" height: 120px; width: 100px; margin-right:30px;">
						<a target="_blank" href="https://www.aiims.edu/en.html"><img src="/static/AIIMS_Delhi_logo.png" style=" margin-right:30px; overflow:hidden;"/>
						<p class="img__description">AIIMS Delhi</p></a>
					</div>
					<div class="img__wrap" style=" width: 163px; margin-right:30px;">
						<a target="_blank" href="https://www.nias.res.in/"><img src="/static/NIAS_logo.png" style="margin-right:30px;"/>
						<p class="img__description">NIAS Bangalore</p></a>
					</div>
					<div class="img__wrap" style="width: 105px; margin-right:30px;">
						<a target="_blank" href="http://www.du.ac.in/du/"><img src="/static/University_of_Delhi_logo.png" style="margin-right:30px; overflow:hidden;"/>
						<p class="img__description">University of Delhi</p></a>
					</div>
					<!--  <div class="img__wrap" style="width: 100px; margin-right:30px; max-width:100%; height:auto;">   -->
					<div class="img__wrap" style="width: 100px; margin-right:30px;">
						<a target="_blank" href="http://www.iitd.ac.in/"><img src="/static/IIT_Delhi_logo.png" style="margin-right:30px;"/>
						<p class="img__description">IIT Delhi</p></a>
					</div>
				</div>	
			</div>	
			
			<div id='third' >
				<b>Contact</b><br>
				<b>&#128231;</b><t><a href="mailto:aer-cdackp@cdac.in"> Mail </a> </t><br>
				<b>&#9990;</b><t> +91 080-2509-3412 </t><br>
				📍 <t>CDAC, Knowledge Park, Old Madras Road, Bangalore 560038.</t>
			</div>
		
		</div>
		
		<div class="footer-bottom">
			Copyright © 2019 C-DAC. All rights reserved.
		</div>
	
	</div>

  
</html>