{% extends "base_copy.html" %}

{% load static %}
{% block title %}Index{% endblock %}
{% block head %}
<link rel="stylesheet" href='/static/style.css' />
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap" rel="stylesheet">
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}




 

<style>
	.big {
	  background-color: #E0E0E0;
	  color: black;
	  font-family: 'Zilla Slab', serif !important;
	  font-size:18px;
	  margin:12em;
	  margin-top: 300px;
	  margin-bottom:10px;
	  padding: 90px;
	  padding-top: 20px;
	  height: 700px;
	  width:70%;
	  opacity: 1;
	}
</style>


<style>
	.ScrollStyle
	{
		max-height: 520px;
		overflow-y: scroll;
	}
</style>




<div class='homepage_big'>


	<center><h1> Childhood Absence Epilepsy  </h1></center>
	
	<div  style="background-color:white; padding:20px;">
		<table class="table table-bordered table-striped" id="geneTable">
		    <thead>

				<tr>
					<th>Uniprot ID</th>
					<th>Gene</th>
					
					
					<th>Protein Name</th>
					<th>Reference</th>
				</tr>
			</thead>
			<tbody>

				{% for index,info in cae_genes.iterrows %}		
							<tr>
								<td><a target="_blank" href='https://www.uniprot.org/uniprot/{{info.uniprotid}}'><b> {{ info.uniprotid }} </b></a></td>
								<td>
									<form action='result/GeneName/' method="post">{% csrf_token %}
										<div style="display:none">
											{{ info.genename }}
										</div>
										<input name="gene" type='submit' value='{{ info.genename }}' >	
									</form>
								</td>	
							
								<td>{{ info.proteinname }}</td>
								<td>
								{% for article in info.reference %}
									<a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/{{ article }}"><b>PMID: {{ article }}</b></a>
									
								{% endfor %}
								</td>
							</tr>
						
				{% endfor %}
			</tbody>
		</table>
		
	</div>
	
	
	
	
</div>



<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/r-2.2.5/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/r-2.2.5/datatables.min.js"></script>





<script>

$( document ).ready(function() {
    console.log( "ready!" );
	// Append a caption to the table before the DataTables initialisation
   
	$('#geneTable').DataTable( {
	    dom: 'Bfrtipl',
    buttons: [
         {
            extend: 'copy',
            text: 'Copy',
            title: 'Childhood Absence Epilepsy Associated Genes'
        },{
            extend: 'csv',
            text: 'CSV',
            extension: '.csv',
            title: 'Childhood Absence Epilepsy Associated Genes'
        }, 
        {
            extend: 'pdf',
            text: 'PDF',
            extension: '.pdf',
            title: 'Childhood Absence Epilepsy Associated Genes'
        }, 
        {
            extend: 'print',
            text: 'Print',
            title: 'Childhood Absence Epilepsy Associated Genes'
        },
        {
            extend: 'excel',
            text: 'Excel',
            extension: '.xlsx',
            title: 'Childhood Absence Epilepsy Associated Genes'
        }
    ]
} );
});




</script>

{% endblock %}
