{% extends "base_copy.html" %}

{% load static %}
{% block title %}{% endblock %}
{% block head %}
<link rel="stylesheet" href='/static/style.css' />
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap" rel="stylesheet">
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}




 



<style>
	
  .checkbox-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1em;
}

.hidden{
   display: None;

}

.checkbox-teal [type="checkbox"]:checked+label:before {
  border-color: transparent #009688 #009688 transparent;
}


</style>




<div class='homepage_big'>


	<center><h1> Genes common across different disorders  </h1></center>
	
	<div  style="background-color:white; padding:20px; height: auto;">
		     

            <div class="form-group row">
              <label for="name" class="col-sm-4 control-label"><b>Disorders:</b></label>
                <div class="checkbox-wrapper">
                    <div class="form-check checkbox-teal mb-2">
                      <input class="form-check-input" type="checkbox" value="MTLE" id="defaultCheck1" name="disorder">
                      <label class="form-check-label" for="defaultCheck1">
                        MTLE
                      </label>
                    </div>
                    <div class="form-check checkbox-teal mb-2">
                      <input class="form-check-input" type="checkbox" value="MTLE-HS" id="defaultCheck2" name="disorder">
                      <label class="form-check-label" for="defaultCheck2">
                        MTLE-HS
                      </label>
                    </div>
                    <div class="form-check checkbox-teal mb-2">
                      <input class="form-check-input" type="checkbox" value="FCD" id="defaultCheck3" name="disorder">
                      <label class="form-check-label" for="defaultCheck3">
                        FCD
                      </label>
                    </div>
                    <div class="form-check checkbox-teal mb-2">
                      <input class="form-check-input" type="checkbox" value="Hippocampal Sclerosis" id="defaultCheck4" name="disorder">
                      <label class="form-check-label" for="defaultCheck4">
                        HS
                      </label>
                    </div>
                    <div class="form-check checkbox-teal mb-2">
                      <input class="form-check-input" type="checkbox" value="Dravet Syndrome" id="defaultCheck5" name="disorder">
                      <label class="form-check-label" for="defaultCheck5">
                        DS
                      </label>
                    </div>
                    <div class="form-check checkbox-teal mb-2">
                      <input class="form-check-input" type="checkbox" value="CAE" id="defaultCheck6" name="disorder">
                      <label class="form-check-label" for="defaultCheck6">
                        CAE
                      </label>
                    </div>
                    <div class="form-check checkbox-teal mb-2">
                      <input class="form-check-input" type="checkbox" value="JAE" id="defaultCheck7" name="disorder">
                      <label class="form-check-label" for="defaultCheck7">
                        JAE
                      </label>
                    </div>
                    <div class="form-check checkbox-teal mb-2">
                      <input class="form-check-input" type="checkbox" value="JME" id="defaultCheck8" name="disorder">
                      <label class="form-check-label" for="defaultCheck8">
                        JME
                      </label>
                    </div>
                    <div class="form-check checkbox-teal mb-2">
                      <input class="form-check-input" type="checkbox" value="EGTCS" id="defaultCheck9" name="disorder">
                      <label class="form-check-label" for="defaultCheck9">
                        EGTCS 
                      </label>
                    </div>

                </div>
              </div>

                <!--Select all checkbox-->
                <input type="checkbox" id="selectall" name="selectall" autocomplete="off" onclick="checkAll(this)"> <span style="font-size: 70%;">Select All</span>
                		
                <br>
            <button type="button" class="btn btn-info">Get Values</button>
                <hr/>

            <table id="common_gene" class='table table-bordered table-striped hidden' style="margin-top:30px;">
                <thead>
                  <tr>
                    <th>Uniprot ID</th>
                    <th>Gene</th>
                  
                    <th>Protein Name</th>
                    <th>Disorder</th>
                    <th>Reference</th>
                  </tr>
                </thead>
            </table>
	</div>
	
	
	
	
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/r-2.2.5/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/r-2.2.5/datatables.min.js"></script>


<script>
    $(document).ready(function () {
        $("button").click(function () {


            var url = "{% url 'ajax_request_for_common_genes' %}";

            var favorite = [];
            $.each($("input[name='disorder']:checked"), function () {
                favorite.push($(this).val());
            });
            


            $.ajax({
                url: url,
                type: "GET",
                traditional: true,
                data: {
                    "favorite": favorite,
                  },
                success: function(response)
                 {
                        $('#common_gene').dataTable( 
                        {
                            "aaData": response,
                            "bAutoWidth": false,
                            "columns": [
                                          { data: "uniprotid",

                                           "render": function(data){
                                            
                                                return '<a target="_blank" href="https://www.uniprot.org/uniprot/' + data + '"><b>'+ data  + '</b></a>';
                
                                                                    }
                                         },
                                          { data: "genename", 
                                            "render": function(data){
                          return '<form action="result/GeneName/" method="post">{% csrf_token %} <div style="display:none">'+ data +'</div><input name="gene" type="submit" value='+ data +' ></form>'; 
                                            }


                                        },
                                          { "data": "proteinname" },
                                          
                                          { data: 'disorders', 
                                             "render": function(value, type, row, meta){
                                             var output="";
                                             for(var i=0;i<value.length;i++){
                                               if( value[i]=='MTLE-HS'){
                                                    output +=  '<a target="_blank" href="/mtle_hs"><b>MTLE-HS</b></a>'
                                                  }
                                                else if(value[i]=='Hippocampal Sclerosis'){
                                                    output +=  '<a target="_blank" href="/hippocampal_sclerosis"><b>Hippocampal Sclerosis</b></a>'
                                                  }
                                                else if(value[i]=='Dravet Syndrome'){
                                                    output +=  '<a target="_blank" href="/dravet_syndrome"><b>Dravet Syndrome</b></a>'
                                                  }
                                                else{ 
                                                  output +=  '<a target="_blank" href="/' + value[i].toLowerCase() + '"><b>' + value[i] + '</b></a>' ;
                                                }
                                               
                                               if(i< value.length-1){
                                                 output +=", ";
                                               }
                                             }
                                             return output;
                                              }
                                           },

                                          { data: "references",

                                            "render": function(value, type, row, meta){
                                             var output="";
                                             for(var i=0;i<value.length;i++){
                                              
                                                  output +=  '<a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/' + value[i]+ '"><b>PMID:' + value[i] + '</b></a>' ;
                                               
                                               if(i< value.length-1){
                                                 output +=", ";
                                               }
                                             }
                                             return output;
                                              }
                                          }
                                        ],
                               "bDestroy": true,
                               dom: 'Bfrtipl',
                                buttons: [
                                     {
                                        extend: 'copy',
                                        text: 'Copy',
                                        title: function() {
							                    return 'Common Genes across Disorders: ' + favorite;
							                }
                                    },
                                    {
                                        extend: 'csv',
                                        text: 'CSV',
                                        extension: '.csv',
                                        title: function() {
							                    return 'Common Genes across Disorders: ' + favorite;
							                }
                                    }, 
                                    {
                                        extend: 'pdf',
                                        text: 'PDF',
                                        extension: '.pdf',
                                        title: function() {
							                    return 'Common Genes across Disorders: ' + favorite;
							                }
                                    }, 
                                    {
                                        extend: 'print',
                                        text: 'Print',
                                        title: function() {
							                    return 'Common Genes across Disorders: ' + favorite;
							                }
                                    },
                                    {
                                        extend: 'excel',
                                        text: 'Excel',
                                        extension: '.xlsx',
                                        title: function() {
							                    return 'Common Genes across Disorders: ' + favorite;
							                }
                                        
                                    }
                                ],
                                 drawCallback: function() {
								    var hasRows = this.api().rows({ filter: 'applied' }).data().length > 0;
								    $('.buttons-excel')[0].style.visibility = hasRows ? 'visible' : 'hidden'
								    $('.buttons-csv')[0].style.visibility = hasRows ? 'visible' : 'hidden'
								    $('.buttons-copy')[0].style.visibility = hasRows ? 'visible' : 'hidden'
								    $('.buttons-pdf')[0].style.visibility = hasRows ? 'visible' : 'hidden'
								    $('.buttons-print')[0].style.visibility = hasRows ? 'visible' : 'hidden'
								  },
								  "language": {
										        "emptyTable": "❌ No overlapping genes present among the selected disorders.",
										    }
                        });
                        $("#common_gene").removeClass("hidden");

                }
            });
        });
    });



function checkAll(ele) {
     var checkboxes = document.getElementsByTagName('input');
     if (ele.checked) {
         for (var i = 0; i < checkboxes.length; i++) {
             if (checkboxes[i].type == 'checkbox') {
                 checkboxes[i].checked = true;
             }
         }
     } else {
         for (var i = 0; i < checkboxes.length; i++) {
             console.log(i)
             if (checkboxes[i].type == 'checkbox') {
                 checkboxes[i].checked = false;
             }
         }
     }
 }




</script>


<!-- text: 'Excel',
                                        extension: '.xlsx',
                                        title: 'Common Genes across Various Disorders' -->

{% endblock %}
