{% extends "base_copy.html" %}

{% load static %}
{% block title %}Index{% endblock %}
{% block head %}
<link rel="stylesheet" href='/static/style.css' />
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap" rel="stylesheet">


  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<style>
.big {
  background-color: #E0E0E0;
  color: black;
  margin:0 auto;
  margin-top:32vh;
  
  font-family: 'Zilla Slab', serif !important;
  font-size: 1.5em;
  padding: 30px;
  width: 70%;
}
</style>






<div class=homepage_big>

<figure>
 <!-- 	<img src='/static/Picture1.jpg' style='padding-left:10px; width:20em;' align='right'>  -->

	<!-- <figcaption>Caption goes here</figcaption> -->
</figure>
<b>TREADS (Target REsearch for Anti-epileptic drugs using Data Science)</b> is a tool developed to enable user to search for known Anti-epileptic drugs (AEDs) & AED targets, and even to identify if a given protein can be a potential drug target or not.
Predicting potential drug targets can be helpful in accelerating drug discovery process.<br>
For prediction, following are the steps followed:
<ul>
	<li>For every human protein (reviewed), various properties such as physico-chemical & structural, post-translational modifications etc., have been either extracted or calculated.
	</li>
	<li>This information is used to train different machine learning algorithms for druggable features.
	</li>
	<li>In the test data, the number of known drug targets that are accurately predicted are analyzed.
	</li>
	<li>Different statistical techniques are used to assess the performance of each machine learning algorithm.
	</li>
</ul>

<br>

<h2> About Epilepsy </h2>
Epilepsy is a chronic non-communicable disease of the brain that is characterized by recurrent seizures.
 Seizure episodes are a result of excessive electrical discharges in a group of brain cells. 
 These are brief episodes of involuntary movement that may involve a part of the body (partial) or the entire body (generalized). 
 They are sometimes accompanied by loss of consciousness and control of bowel or bladder function. 
 As per <a target="_blank" href="https://www.who.int/news-room/fact-sheets/detail/epilepsy"><b>WHO</b></a>, 50 million people worldwide are affected by Epilepsy.
 It is estimated that there are more than 10 million persons with epilepsy in India 
 <a target="_blank" href="http://www.neurologyindia.com/article.asp?issn=0028-3886;year=2017;volume=65;issue=7;spage=83;epage=92;aulast=Dixit"><b>(Dixit et al 2017)</b></a>.
<br>
Various factors such as infection, stroke, traumatic brain injury, brain tumors, cerebral ischemia, 
and importantly, mutations in genes that are crucial for the development, migration, and function of neurons and gliamay cause seizures and lead to the development of epilepsy.


<center><img src='/static/Picture2.jpg' style='padding:20px;'></center>

More than 25 Anti-epileptic drugs (AEDs) are available in market. 
However, 30% of Persons With Epilepsy (PWE) are resistant to AEDs i.e. failed to respond to drugs in spite of appropriate, and adequate dosage, 
and tried for not nearly 2 years (adults) or few weeks (pediatric). 
It is essential to understand the underlying molecular mechanisms causing drug resistance. 
There are various studies being done to identify epilepsy-associated genes and possible alternate targets in resistant patients.

<h2>About our project:</h2>
The objective of the project is to identify potential drug targets in AED resistant patients using data science approaches.


</div>


{% endblock %}
