{% extends "base_copy.html" %}

{% load static %}


{% block title %}Index{% endblock %}
{% block head %}



 
  
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap" rel="stylesheet">
<link rel="stylesheet" href='/static/style.css' />
 <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}





<style>
		
	.big2 {
	  background-color: #E0E0E0;
	  color: black;
	 
	  margin:0 auto;
	  margin-top:300px;
	  width:70%;
	  padding: 20px;
	  padding-left:40px;
	  font-family: 'Zilla Slab', serif !important;
	  font-size: 18px;
	  
	
	  opacity: 1;
	}
	
	.medium {
	  background-color: white;
	  color: black;
	 
	  margin-top: 50px;
	  margin-bottom:60px;
	  margin-left:80px;
	  margin-right:80px;
	  padding: 20px;
	  padding-top:40px;
	  padding-left:40px;
	  font-family: 'Zilla Slab', serif !important;
	  font-size: 18px;
	<!--  width: 80%;-->
	  opacity: 0.9;
	}
	
	
</style>


<style>
	.ScrollStyle
	{
		max-height: 720px;
		overflow-y: scroll;
	}
	.ScrollStyle2
	{
		max-height: 320px;
		overflow-y: scroll;
	}
</style>


<div class='homepage_big'>
	<center><h2>Protein Families of Anti-Epileptic Drug Targets</h2></center>
	<div class='medium'>
		
		{{ graph_div|safe }}
	</div>
</div>





{% endblock %}