{% extends "base1cop.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
    {% block content %}
	<center>
    <h3>Searched gene is: {{ gene_id }}</h3>
    {%- with messages = get_flashed_messages(with_categories=true) -%}
        {%- if messages -%}
            <center>
            {%- for category, message in messages -%}


                {{ message }}

            {%- endfor -%}
          </center>
        {%- endif -%}
    {%- endwith %}
        {%- if dict_data -%}
        <div style="    height:300px;overflow-y:auto;">
            <div >
        <div>
        <table border="1">
            <caption><h3>Physicochemical Features of the searched gene</h3></caption>
            <thead>
                <th>Feature</th>
                <th>Value</th>
            </thead>
            <div class="scrollit">
            <tbody style="overflow-y:auto;">
                {% for key,value in dict_data.items() %}

                <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </div>
        </table>
        </div>
                </div>
            </div>
    {%- endif -%}
    </center>
{% endblock %}






