{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
	<center>
    <h3>Searched gene is: {{ gene_id }}</h3>
    {%- with messages = get_flashed_messages(with_categories=true) -%}
        {%- if messages -%}
            <center>
            {%- for category, message in messages -%}


                {{ message }}

            {%- endfor -%}
            </center>
        {%- endif -%}
    {%- endwith %}
        {%- if tab_data is defined -%}

        <table border="1">

            <thead>
                {% for heading in tab_data.columns %}
                <th>{{ heading }}</th>
                {% endfor %}
            </thead>

            <tbody style="overflow-y:auto;">
                {% for row in range(tab_data.shape[0]) %}

                <tr >
                    <td>{{ tab_data.loc[row]._id }}</td>
                    <td>{{ tab_data.loc[row]._score }}</td>
                    <td>{{ tab_data.loc[row].entrezgene }}</td>
                    <td>{{ tab_data.loc[row].name }}</td>
                    <td style="cursor: pointer;" onclick="window.location.href='{{ url_for('page_detail', rowData=tab_data.loc[row]._id) }}';">{{ tab_data.loc[row].symbol }}</td>
                    <td>{{ tab_data.loc[row].taxid }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

        {%- endif -%}
    </center>
{% endblock %}